name: Build

on:
  push:
    branches:
      - main
      - testci

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: |
            sudo apt update
            sudo apt install libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev libsndfile-dev -y
      - name: build
        run: make
